<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
	default-autowire="byName">
	
	<util:properties id="schemaNameProperties" location="classpath:com/furniture/persistence/xml/schema.properties" />
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceDB" />
		<property name="mapperLocations" value="classpath*:com/furniture/persistence/xml/*Mapper*.xml" />
		<property name="configurationProperties" ref="schemaNameProperties" />
	</bean>	
	
	<!-- <bean id="baseMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" abstract="true" lazy-init="true">
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>

	<bean id="actorMapper" parent="baseMapper">
		<property name="mapperInterface" value="com.furniture.persistence.dao.ActorMapper" />		
	</bean> -->
	

	 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="basePackage" value="com.furniture.persistence.dao" />
    </bean>
    
 </beans>